<div class="<%= message.user == current_user ? "text-right" : "text-left" %>" >
  <div class="message-body">
    <div class="<%= message.user == current_user ? "message-content-me" : "message-content-rival" %>">
      <%#= message.content %>
      <%# binding.pry %>
      <%= emojify message.content %>
      <%# binding.pry %>
    </div>
    <div class="<%= message.user == current_user ? "message-footer" : "message-footer-rival" %>" >
    <span class="first-name">
      <%= message.user.first_name %>
      </span>
      <span class= "space_like fa fa-heart">

      </span>
    </div>
  </div>
</div>
