<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-courtisan-brand" do %>
  <% if user_signed_in? %>
  <%= image_tag "logo.png"%>
  <% else %>
    <%= image_tag "logo.png", class: "logo-padded" %>
     <% end %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">

    <% if user_signed_in? %>

      <!-- Links when logged in -->

      <div class="dropdown">
        <button class="dropdown-toggle" type="button" data-toggle="dropdown">

        <%= image_tag "communication.png", class: "logo-drop" %>

        </button>
        <ul class="dropdown-menu navbar-wagon-dropdown-menu">
        <% if current_user.sending_chatrooms.blank? %>
          <%= link_to "Vous n'avez pas encore de discussion", id: "design-dropdown"%>
        <% else %>
          <% current_user.sending_chatrooms.each do |chatroom| %>
            <li>
              <%= link_to chatroom.seduced.first_name, chatroom_path(chatroom), class: "text-small" %>
            </li>
          <% end %>
        <% end %>
        </ul>
      </div>


      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to users_profile_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profil") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Déconnexion") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <a href="#regles" class="navbar-wagon-item navbar-wagon-link" id="lien-regles">Règles du jeu</a>
      <%= link_to t(".sign_in", default: "Connexion"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>
</div>

