<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-offset-4 col-md-4">
      <% if current_user.status == "courtiser" %>
        <% if current_user.gender == "Homme" %>
          <h3>Vous êtes courtisan</h3>
        <% else %>
          <h3>Vous êtes courtisane</h3>
        <% end %>
      <% else %>
        <% if current_user.gender == "Homme" %>
          <h3>Vous êtes courtisé</h3>
        <% else %>
          <h3>Vous êtes courtisée</h3>
        <% end %>
      <% end %>


      <%= form_for [current_user, @challenge] do |f| %>
        <%= f.hidden_field :seducer1_id, value: User.first.id %>
        <%= f.hidden_field :seduced_id, value: User.last.id  %>
        <%= f.hidden_field :current_round, value: 0 %>
        <%= f.submit "Provoquer un duel",  class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>

