<div class="container-messenger" id="container-messenger" >

  <div class="container-messages">
  <div class="header-messenger">
            <span class="message-content-admin" id = "msgadmin">
            Le duel va commencer...
          </span>

  <h2> Round 1 </h2>
    <span class="avatar-time hide" id="smalltime"> start! </span>
</div>
<div class="body-container-messages">
<span id = "bigtime">03</span>

    <div class="row">

<!--     <span id = "bigmsg hide"></span>
 -->
    <div class="row">

      <% @challenge.messages.each do |message| %>
        <div class="col-md-6 col-md-offset-6" >

        <div class="message-body <%= message.user == current_user ? "mine" : "" %>">
          <div class="message-content-me">

            <%= message.content %>
          </div>
          <div class="message-footer">
            <%= message.user.first_name %>
          </div>
      </div>
      </div>
      <% end %>



<!--             <div class="col-md-6" >
        <div class="message-body">
          <div class="message-content-admin">
            Admin message here
          </div>
        </div>
      </div> -->
    </div>
</div>


  </div>

  <div class="container-input hide" id= "typebox">
    <div class="row">
      <div class="col-xs-12 col-md-offset-1 col-md-10">
        <%= simple_form_for [@challenge, @message] do |f| %>
          <%= f.error_notification %>
          <%= f.input :content, label: "" %>
        <% end %>
      </div>
    </div>
  </div>
</div>







