<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Courtisan refait de la séduction ce qu'elle est vraiment : un jeu. A visage masqué, joute contre d'autres prétendant(e)s, brille par ton éloquence et gagne les faveurs de ton public. Attrape les tou(te)s ! Défie tes amis, humilie les prétendants, deviens le meilleur courtisan.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Courtisan</title>
    <%= favicon_link_tag "favicon.ico"%>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
  <div class="container-all">
    <%= render 'shared/flashes' %>

    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= yield(:after_js) %>
  </div>
  </body>
</html>

